<section ng-controller="HomeController">
  <div class="jumbotron text-center" style="background-image: url(http://imgur.com/BZl5kVp.jpg); background-size: 100%; height: 443px;">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
      </div>
    </div>
    <br>
    <div class="row">
      <h2 class="lead">
        Welcome to <strong><span style="font-family: georgia; font-size: 40px;">The Store's Helpful List</span></strong> app!
      </h2>
    </div>
    <!-- <br>
    <br>
    <div class="row">
      <p>
      </p>
    </div>
  </div>
  <div class="second">
    <h2><span style="font-family: georgia;">The Store</span> is proud to present the Helpful List app!</h2>
    <h4>With our app, you can have all your to-do lists in one convenient location. You can also...</h4>
    <ul>
      <li>
        Update & edit
      </li>
      <li>
        Sort & organize
      </li>
      <li>
        You can even pick a color!
      </li>
    </ul>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-3">
      <h2><strong style="color: #FF9B42">C</strong>onvenience</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam feugiat, ex et luctus bibendum, massa odio gravida tortor, iaculis eleifend sapien tortor a tellus. Praesent mattis convallis mauris at semper.</p>
    </div>
    <div class="col-md-3">
      <h2><strong style="color: #FF9B42">O</strong>rganizing</h2>
      <p>Etiam faucibus turpis et laoreet dapibus. Suspendisse potenti. Phasellus a odio eros. Phasellus accumsan hendrerit ipsum, vitae sagittis augue lacinia nec. Suspendisse potenti. Curabitur metus magna, congue sit amet malesuada a, aliquet sit amet nunc. Maecenas eget nunc ornare, posuere ipsum quis, commodo ante.</p>
    </div>
    <div class="col-md-3">
      <h2><strong style="color: #FF9B42">E</strong>diting</h2>
      <p>Nullam congue venenatis ex. Proin vel nisi condimentum nunc fringilla imperdiet.Sed vel molestie magna, sollicitudin interdum diam. Duis nec massa nisi. Duis vehicula leo non ex venenatis rutrum. Pellentesque vitae quam lectus.</p>
    </div>
    <div class="col-md-3">
      <h2><strong style="color: #FF9B42">C</strong>olors</h2>
      <p>Sed rutrum tortor libero, sit amet venenatis nulla tincidunt eget. Nulla hendrerit, mi a posuere posuere, sem lectus hendrerit elit, nec blandit arcu neque ut nisl. Cras sed ante tortor. Nullam mollis, nulla sit amet consequat venenatis, est nunc rutrum enim, non congue nisl nunc at risus.</p>
    </div>
  </div>
</section>

       <li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
				</li> -->
       <!--<li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
        </li>
        <li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
        </li>
      </ul>
    </p>
  </div>
  <br>Enjoy &amp; Keep Us Updated,
  <br>The MEAN.JS Team.
</section> -->
