<section>
  <div class="page-header">
    <h1>Products</h1>
  </div>
  <div class="list-group">

    <a ng-repeat="product in vm.products"
       ui-sref="products.view({ productId: product._id })"
       class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="product.title"></h4>
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="product.created | date:'mediumDate'"></span>
        by
        <span ng-if="product.user" ng-bind="product.user.displayName"></span>
        <span ng-if="!product.user">Deleted User</span>
      </small>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.products.$resolved && !vm.products.length">
    You haven't added anything yet. Why not <a ui-sref="products.create">add something now</a>?
  </div>
</section>
